body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#main {
  width: 90%;
  max-width: 900px;
  margin: 100px auto;
  padding: 40px 50px;
  border-radius: 5px;
  box-shadow: 1px 1px 10px 1px black;
  background-color: #fefef3;
}

img {
  display: block;
}

#image {
  max-width: 100%;
}

.bold {
  font-weight: bold;
}

ul li {
  margin-bottom: 25px;
  line-height: 20px;
  font-size: 1.125rem;
}

#footer {
  font-style: italic;
}